p{
    font-size: 20px;
    font-style: italic;
}
li{
    font-size: large;
    color: deepskyblue;
}
h1{
    font-size: x-large;
    font-style: italic;
    text-align: center;
}

    
}
h3{
    font-size: x-large;
    font-style: inherit;
    color: mediumaquamarine;
}
body{
    background-color: aqua;
}

}
img{
    height: 200px;
    width: auto;;
    margin: 40px;
}
   
    
